.categoryItems {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid #131313;
    border-radius: 10px;
    min-width: 350px;
    min-height: 80px;
    font-size: 25px;
    text-decoration: none;
    color: #131313;
    -webkit-box-shadow: -10px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -10px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -10px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

.categoryItems:active {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

@media only screen and (max-width: 768px) {
    .categoryItems {
        display: flex;
        padding: 15px;
        align-items: center;
        justify-content: center;
        border: 1px solid #131313;
        border-radius: 10px;
        min-width: 350px;
        min-height: 80px;
        font-size: 25px;
        text-decoration: none;
        color: #131313;
        -webkit-box-shadow: -10px 10px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: -10px 10px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: -10px 10px 8px 0px rgba(34, 60, 80, 0.2);
    }
    
    .categoryItems:active {
        -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
        -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    }
  }