.receiptItems {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border: 1px solid #131313;
    border-radius: 10px;
    min-width: 350px;
    min-height: 80px;
    font-size: 25px;
    text-decoration: none;
    color: #131313;
}

.receiptItems:hover {
    background-color: #a3f3f3;
}